.menu__icon {
    margin: 1px;
    width: 100px;
    box-shadow: 0 0 5px 2px #e4e7de;
}

.main__menu {
    display: none;
}
.menu-item:hover {
    background-color: slategray;
}

.menu__a {
    text-align: center;
    align-items: center;
    color: #e4e7de;
    justify-content: center;
    height: 50px;
    border-bottom: 3px solid #e4e7de;
    text-decoration: none;
    cursor: pointer;
    display: flex;
}

.menu__a:hover {
    background-color: darkgrey;
}

.menu-item {
    cursor: pointer;
    text-align: center;
    align-items: center;
    color: #e4e7de;
    display: flex;
    justify-content: center;
    height: 50px;
    border-bottom: 3px solid #e4e7de;
    text-decoration: none;
}
